{% extends 'blogs/base.html' %}

{% block title %}<title>Blog - Página inicial</title>{% endblock %}

{% block header %}
    <div class="jumbotron">
        <h1>Página principal do blog</h1>
    </div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p><a href="{% url 'novo_post' %}">Novo post</a></p>
    {% endif %}

    {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <a href="{% url 'post' post.pk %}">{{ post.titulo }}</a>
                </h2>
                
                <p><small> {{ post.data_add }} - Autor: {{ post.proprietario }}</small></p>
            </div>

            <div class="panel-body">
                {% if post.texto|length >= 500 %}
                    <p>{{ post.texto|slice:"0:500" }}... <a href="{% url 'post' post.pk %}">Ver mais.</a></p>
                {% else %}
                    <p>{{ post.texto }}</p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>Não há publicações no blog.</p>
    {% endfor %}
{% endblock %}