{% extends 'blogs/base.html' %}

{% block title %}<title>Blog - Página inicial</title>{% endblock %}

{% block content %}
    <h1>Blog</h1>
    <hr>
    {% if user.is_authenticated %}
        <p><a href="{% url 'novo_post' %}">Novo post</a></p>
    {% endif %}

    {% for post in posts %}
        <h2>{{ post.titulo }}</h2>
        <p> - {{ post.data_add }}</p>
        <p>{{ post.texto|linebreaks }}</p>

        {% if user.is_authenticated and user == post.proprietario %}
            <p><a href="{% url 'editar_post' post.id %}">Editar publicação</a></p>
        {% endif %}
    {% empty %}
        <p>Não há publicações no blog.</p>
    {% endfor %}
{% endblock %}